#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #71e22a; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; }
.l1r0 { pointer-events: none; stroke: #979560; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; }
.l2r0 { pointer-events: none; stroke: #a69f5f; stroke-width: 0.26; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; }
